@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Gilda+Display&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-password-input .mantine-PasswordInput-visibilityToggle:hover:focus {
  background-color: transparent;
  border-bottom: 1px solid #AA8453;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
